@font-face {
	font-family: Myriad_Pro_Bold;
	src: url(fonts/Myriad_Pro_Bold[1].woff);
}
@font-face {
	font-family: Arena_Cond_Light;
	src: url(fonts/Arena_Cond_Light.woff);
}
@font-face {
	font-family: AmazoneRegular;
	src: url(fonts/911Fonts.com_AmazoneRegular__-_911fonts.com_fonts_9pSE.woff);
}
@font-face {
	font-family: Myriad_Pro_Regular;
	src: url(fonts/Myriad_Pro_Regular[1].woff);
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(fonts/OpenSans-Semibold.woff);
}
@font-face {
	font-family: blackjack;
	src: url(fonts/blackjack.woff);
}
@font-face {
	font-family: bluePlateSpecialSW;
	src: url(fonts/bluePlateSpecialSW.woff);
}
@font-face {
	font-family: Fiolex-Girls-Regular;
	src: url(fonts/Filxgirl[1].woff);
}
@font-face {
	font-family: Sabon-Bold;
	src: url(fonts/SabonBold.woff);
}
